---
import PostListItem from "@/components/PostListItem.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

type PostsGroup = Record<string, CollectionEntry<"blog">[]>;

const posts = await getCollection("blog");
const postsGroup = posts.reduce<PostsGroup>((group, post) => {
  const year = String(post.data.date.getFullYear());
  group[year] ??= [];
  group[year].push(post);
  return group;
}, {});

const yearArray: string[] = Object.keys(postsGroup).sort(
  (a, b) => Number(b) - Number(a)
);
---

<Layout title="Archive" description="All posts">
  <section class="mt-10">
    <h1 class="font-semibold mb-6">Archive</h1>
    {
      yearArray.map((year) => {
        return (
          <div class="my-6">
            <h3 class="font-semibold">#{year}</h3>
            <ul>
              {postsGroup[year].map((post) => (
                <PostListItem post={post} titleTag="span" />
              ))}
            </ul>
          </div>
        );
      })
    }
  </section>
</Layout>
