---
import FormattedDate from "@/components/FormattedDate.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

type PostsGroup = Record<string, CollectionEntry<"blog">[]>;

const posts = await getCollection("blog");
const postsGroup = Object.groupBy(posts, ({ data }) => {
  const { date } = data;
  return date.split("/")[0];
}) as PostsGroup;

const yearArray: string[] = Object.keys(postsGroup).sort(
  (a, b) => Number(b) - Number(a)
);
---

<Layout title="Archive" description="All posts">
  <section class="mt-8">
    <h1 class="text-3xl font-bold mb-6">Archive</h1>
    {
      yearArray.map((year) => {
        return (
          <div class="my-4">
            <h3 class="text-2xl font-semibold">#{year}</h3>
            <ul>
              {postsGroup[year].map((post, index) => {
                return (
                  <li>
                    <a
                      href={`/posts/${post.id}/`}
                      class="flex gap-2 flex-col-reverse items-start md:flex-row md:items-center md:gap-4 py-3"
                    >
                      <FormattedDate date={post.data.date} />
                      <span class="hover:underline">{post.data.title}</span>
                    </a>
                  </li>
                );
              })}
            </ul>
          </div>
        );
      })
    }
  </section>
</Layout>
