---
import PostListItem from "@/components/PostListItem.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const tags = (await getCollection("blog"))
    .map((post) => post.data.tags)
    .flat()
    .filter(Boolean);
  const uniqueTags = Array.from(new Set(tags));
  return uniqueTags.map((tag) => ({
    params: { tag },
  }));
}


const { tag } = Astro.params;

const posts = (await getCollection("blog"))
  .filter((post) => post.data.tags?.includes(tag as string))
  .sort((a, b) => {
    return b.data.date.getTime() - a.data.date.getTime();
  });

---

<Layout title={`#${tag}`} description={`Posts tagged with #${tag}`}>
  <section class="mt-8">
    <h2 class="text-3xl font-bold mb-6">#{tag}</h2>
    <ul>
      {posts.map((post) => (
        <PostListItem post={post} />
      ))}
    </ul>
  </section>
</Layout>
