---
import Layout from "@/layouts/Layout.astro";

import { getCollection } from "astro:content";

const tags = (await getCollection("blog"))
  .map((post) => post.data.tags)
  .flat()
  .filter((tag): tag is string => Boolean(tag))
  .reduce<Record<string, number>>((res, name) => {
    res[name] = res[name] ? ++res[name] : 1;
    return res;
  }, {});

const tagList = Object.keys(tags).sort((a, b) => {
  const aCount = tags[a];
  const bCount = tags[b];

  if (aCount === bCount) {
    return a.localeCompare(b);
  }

  return bCount - aCount;
});
---

<Layout title="Tags" description="All tags">
  <section class="mt-10">
    <h2 class="font-semibold mb-6">Tags</h2>
    <ul>
      {
        tagList.map((tag) => (
          <li class="mx-4 my-2 inline-block">
            <a href={`/tags/${tag}`} class=" hover:underline">
              #{tag} · {tags[tag]}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
