---
import Layout from '../layouts/Layout.astro';
import PostListItem from '../components/PostListItem.astro';

import { getCollection } from 'astro:content';
import { getTime } from "date-fns";
const posts = (await getCollection('blog')).sort(
	(a, b) => getTime(b.data.date) - getTime(a.data.date),
);

const latestPosts = posts.slice(0, 6);
---

<Layout>
	<section class="mt-10">
		<h2 class="text-3xl font-semibold mb-6">Latest Posts</h2>
		<ul>
			{latestPosts.map((post) => (
				<PostListItem post={post} />
			))}
		</ul>
		<div class="mt-6">
			<a href="/archive" class="hover:underline">View all posts 👉</a>
		</div>
	</section>
</Layout>
