---
import Layout from '../layouts/Layout.astro';
import FormattedDate from '../components/FormattedDate.astro';

import { getCollection } from 'astro:content';
import { getTime } from "date-fns";
const posts = (await getCollection('blog')).sort(
	(a, b) => getTime(b.data.date) - getTime(a.data.date),
);
---

<Layout>
	<h2 class="text-3xl font-bold tracking-tight mb-6">Latest Posts</h2>
	<ul>
		{posts.map((post) => (
			<li>
				<a href={`/posts/${post.id}/`} class="flex gap-2 flex-col-reverse items-start md:flex-row md:items-center md:gap-4 py-3">
					<FormattedDate date={post.data.date} />
					<h2>{post.data.title}</h2>
				</a>
			</li>
		))}
	</ul>
</Layout>
