---
import Layout from '../layouts/Layout.astro';
import FormattedDate from '../components/FormattedDate.astro';

import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout>
	<h2 class="text-3xl font-bold tracking-tight mb-6">Latest Posts</h2>
	<ul>
		{posts.map((post) => (
			<li>
				<a href={`/posts/${post.id}/`} class="flex items-center gap-2 flex flex-col items-start md:flex-row md:items-center md:gap-4 py-3">
					<FormattedDate date={post.data.pubDate} />
					<h2>{post.data.title}</h2>
				</a>
			</li>
		))}
	</ul>
</Layout>
