---
import { SITE_TITLE } from "../consts";
import ToggleButton from "./ToggleButton.astro";
import Logo from "./Logo.astro";

const currentPath = new URL(Astro.request.url).pathname;
---

<header class="max-w-4xl">
	<nav class="flex flex-col gap-4 md:flex-row md:items-center md:justify-between">
		<div class="flex items-center justify-between">
			<h1 class="text-3xl font-semibold tracking-tight">
				<a href="/" class="flex items-center">
					<Logo class="mr-4 inline-block h-8 w-8 text-foreground" />
					<span class="font-brand">{SITE_TITLE}</span>
				</a>
			</h1>
			<div class="md:hidden">
				<ToggleButton />
			</div>
		</div>
			<div class="flex items-center justify-between gap-4">
			<div class="flex divide-x divide-border text-sm [&>*]:transition-colors [&>*]:duration-300">
				<a href="/archive" class:list={["text-muted-foreground hover:text-foreground pr-4 link-hover", { "font-semibold underline text-foreground": currentPath.startsWith("/archive") }]} aria-current={currentPath.startsWith("/archive") ? "page" : undefined}> Archive </a>
				<a href="/tags" class:list={["text-muted-foreground hover:text-foreground px-4 link-hover", { "font-semibold underline text-foreground": currentPath.startsWith("/tags") }]} aria-current={currentPath.startsWith("/tags") ? "page" : undefined}> Tags </a>
				<a href="/about" class:list={["text-muted-foreground hover:text-foreground px-4 link-hover", { "font-semibold underline text-foreground": currentPath.startsWith("/about") }]} aria-current={currentPath.startsWith("/about") ? "page" : undefined}> About </a>
			</div>
			<div class="hidden md:block">
				<ToggleButton />
			</div>
		</div>
	</nav>
</header>
