---
interface Props {
  href: string;
  active: boolean;
}

const { href, active } = Astro.props;
---

<a
  href={href}
  class:list={[
    "text-muted-foreground hover:text-foreground px-4 link-hover",
    {
      "font-semibold underline text-foreground": active,
    },
  ]}
  aria-current={active ? "page" : undefined}
>
  <slot />
</a>
