---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="max-w-3xl">
	<nav>
		<h1 class="text-3xl font-bold tracking-tight mb-6">
			<a href="/" class="flex items-center">
				<img src="/sunglasses.png" alt="logo" class="w-10 h-10 mr-2 inline-block" />
				{SITE_TITLE}
			</a>
		</h1>
		<div class="flex divide-x mb-4 divide-gray-300">
			<a href="/archive" class="hover:underline pr-4"> Archive </a>
			<a href="/tags" class="hover:underline px-4"> Tags </a>
			<a href="/about" class="hover:underline px-4"> About </a>
		</div>
	</nav>
</header>
