---
export function getStaticPaths() {
  return [
    { params: { tag: "测试" }},
    { params: { tag: "测试2" }},
    { params: { tag: "测试3" }},
  ];
}

const { tag } = Astro.params;
---
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tag: {tag}</title>
</head>
<body>
  <div>Good tag, {tag}!</div>
</body>
</html>
