---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, date } = Astro.props;

function goBack() {
    if (document.referrer) {
      window.history.back(); // 如果有上一页，返回上一页
    } else {
      window.location.href = '/'; // 如果没有上一页，跳转到首页
    }
  }
---
<main class="mt-8">
	<article>
		<div>
			<div class="title">
				<h1 class="text-2xl font-bold mt-4 mb-2">{title}</h1>
				<div class="date">
					<FormattedDate date={date} />
				</div>
				<hr class="my-2" />
			</div>
			<slot />
		</div>
	</article>
	<hr>
	<div class="my-8">
		<button data-go-back class="hover:underline flex items-center">
			cd ..
		</button>
	</div>
</main>
<script>
	const buttons = document.querySelectorAll('[data-go-back]');
	buttons.forEach((button) => {
	  button.addEventListener('click', goBack);
	});

  function goBack() {
    if (document.referrer) {
      window.history.back(); // 如果有上一页，返回上一页
    } else {
      window.location.href = '/'; // 如果没有上一页，跳转到首页
    }
  }
</script>
