---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, date } = Astro.props;
---
<main class="mt-10">
	<article>
		<div>
			<div class="title">
				<h1 class="text-4xl font-bold mt-4 mb-2">{title}</h1>
				<div class="date">
					<FormattedDate date={date} />
				</div>
				<hr class="my-2" />
			</div>
			<slot />
		</div>
	</article>
	<hr>
	<div class="my-8">
		<button data-go-back class="hover:underline flex items-center text-muted-foreground mt-2" aria-label="返回上一页" title="返回上一页">
			cd ..
		</button>
	</div>
</main>
<script>
	const buttons = document.querySelectorAll('[data-go-back]');
	buttons.forEach((button) => {
	  button.addEventListener('click', goBack);
	});

  function goBack() {
    // 检查history长度来确定是否有上一页
    if (window.history.length > 1 && document.referrer && new URL(document.referrer).origin === window.location.origin) {
      window.history.back(); // 如果有同源的上一页，返回上一页
    } else {
      window.location.href = '/archive'; // 否则跳转到归档页
    }
  }
</script>
